
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar especialidad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="validarCampos(formAgregarEspecialidad)" #formAgregarEspecialidad="ngForm" novalidate>
  <div class="modal-body">
      <div class="form-group">

          <input required type="text"  class="form-control"
          [ngClass]="{'border border-danger': formAgregarEspecialidad.submitted && !nombre_.valid || nombre_.touched && !nombre_.valid }"
          [name]="'nombre_'" [id]="'nombre_'" #nombre_="ngModel" [(ngModel)]="nombre" >

      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" >Guardar</button>
    </div>
  </form>
</ng-template>



<button class="btn btn-link" (click)="open(content)">Editar</button>
