<button type="button" class="btn btn-info" (click)="open(modalHorarioBox,'xl')">Consultar Horarios</button>


<ng-template #modalHorarioBox let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Horario box <span class="text-primary"></span> </h4>

    <div class="border w-25 ms-5 me-auto my-2">
      <select class="form-select" name="box_id" (change)="horarioBox()" [(ngModel)]="box_id" >
        <option *ngFor="let item of boxs" value="{{item.id}}">{{item.nombre}}</option>
      </select>
    </div>

    <button type="button" class="close btn " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <div class="modal-body">


    <div class="container-fluid  w-100 d-flex align-items-stretch justify-content-center mb-2">
      <div style="width:150px;" class=" text-center ">Lunes</div>
      <div style="width:150px;" class=" text-center ">Martes</div>
      <div style="width:150px;" class=" text-center">Miercoles</div>
      <div style="width:150px;" class=" text-center">Jueves</div>
      <div style="width:150px;" class=" text-center">Viernes</div>
      <div style="width:150px;" class=" text-center">Sabado</div>
      <div style="width:150px;" class=" text-center">Domingo</div>
    </div>

    <div *ngIf="box_id != 0" class="container-fluid  w-100 d-flex align-items-stretch justify-content-center">

      <div  style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.lunes;index as i">

          <ng-container *ngIf="i != 0 &&  horario.lunes[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.lunes[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div  class="border border-primary w-100 text-center"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>


        </ng-container>


      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.martes;index as i">

          <ng-container *ngIf="i != 0 &&  horario.martes[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.martes[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div class="border border-primary w-100 text-center"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>

      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.miercoles;index as i">

          <ng-container *ngIf="i != 0 &&  horario.miercoles[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.miercoles[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div class="border border-primary w-100 text-center"    >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.jueves;index as i">

          <ng-container *ngIf="i != 0 &&  horario.jueves[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.jueves[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div class="border border-primary w-100 text-center"    >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.viernes;index as i">

          <ng-container *ngIf="i != 0 &&  horario.viernes[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.viernes[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div class="border border-primary w-100 text-center"    >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.sabado;index as i">

          <ng-container *ngIf="i != 0 &&  horario.sabado[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.sabado[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div class="border border-primary w-100 text-center"    >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario.domingo;index as i">

          <ng-container *ngIf="i != 0 &&  horario.domingo[i-1].hora_fin != item.hora_inicio" >
            <div  class=" w-100 text-center bg-success bg-opacity-10"   >
              {{ horario.domingo[i-1].hora_fin}} - {{ item.hora_inicio }}
              Disponible
            </div>
          </ng-container>

          <div class="border border-primary w-100 text-center"    >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>


    </div>




  </div>

</ng-template>


