<button type="button" class="btn btn-info" (click)="open(modalHorarioBox,'xl')">Consultar Horarios</button>


<ng-template #modalHorarioBox let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Horario box <span class="text-primary"></span> </h4>

    <div class="border w-25 ms-5 me-auto my-2">
      <select class="form-select" name="box_id" (change)="horarioBox()" [(ngModel)]="box_id" >
        <option *ngFor="let item of boxs" value="{{item.id}}">{{item.nombre}}</option>
      </select>
    </div>

    <button type="button" class="close btn " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  <div class="modal-body">


    <div class="container-fluid  w-100 d-flex align-items-stretch justify-content-center mb-2">
      <div style="width:150px;" class=" text-center ">Lunes</div>
      <div style="width:150px;" class=" text-center ">Martes</div>
      <div style="width:150px;" class=" text-center">Miercoles</div>
      <div style="width:150px;" class=" text-center">Jueves</div>
      <div style="width:150px;" class=" text-center">Viernes</div>
      <div style="width:150px;" class=" text-center">Sabado</div>
      <div style="width:150px;" class=" text-center">Domingo</div>
    </div>

    <div class="container-fluid  w-100 d-flex align-items-stretch justify-content-center">

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 1"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 2  "   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario;index as i">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 3"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 4"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 5"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 6"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 7"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>


    </div>



  </div>

</ng-template>


