<!--

  <div class="form-group">
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        [markDisabled]="isDisabled"
        name="dp"
        [(ngModel)]="model"
        ngbDatepicker
        #d="ngbDatepicker"
        [placement]="'bottom'">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>

-->


  <div style="width: 900px;" class="container p-0">
    <div class=" p-2  border-bottom d-flex justify-content-between align-items-center " >

    <button  type="button"  class="btn btn-outline-dark" (click)="nuevoServicio()" >Nuevo</button>

    <button type="button" class="btn btn-outline-dark" (click)="cargarTabla()">
        <i class="mx-2 fa fa-search" aria-hidden="false"></i>
    </button>


  </div>


<table class=" table  table-striped">
  <thead>
    <tr >
      <th scope="col">Estado</th>
      <th scope="col">Servicio</th>
      <th scope="col">Duración estimada</th>
      <th scope="col">Profesional</th>
      <th scope="col"></th>

      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of servicios;index as i">

      <td>
        <div class="form-check form-switch">
        <input disabled class="form-check-input" type="checkbox" role="switch" [checked]="item.estado">
      </div>
    </td>
      <td>{{item.nombre}}</td>
      <td>{{item.tiempo | minutosHora}}</td>
      <td>{{item.profesional.nombre}}</td>
      <td>
      {{item.profesional.apellido_paterno}}
      {{item.profesional.apellido_materno}}
      </td>
      <td>
        <button class="btn btn-outline-primary" (click)="editar(item)" >Editar</button>
      </td>


    </tr>
  </tbody>
</table>

<ngb-pagination
[(page)]="ServiciosService.pagina"
[pageSize]="ServiciosService.numfilas"
[collectionSize]="total_registros"
(pageChange)="cargarTabla()"
>
  <ng-template ngbPaginationFirst><i class="fa fa-arrow-left " aria-hidden="true "></i></ng-template>
  <ng-template ngbPaginationLast><i class="fa fa-step-forward " aria-hidden="true "></i></ng-template>
  <ng-template ngbPaginationPrevious><i class="fa fa-arrow-left " aria-hidden="true "></i></ng-template>
  <ng-template ngbPaginationNext><i class="fa fa-arrow-right " aria-hidden="true "></i></ng-template>
</ngb-pagination>



</div>




<ng-template  #modalAgregarServicio let-modal>


  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Servicio <span>Paso :{{paso}}</span></h4>
    <button type="button" class="close btn " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">



      <!-- Paso 1 -->

      <div  [hidden]="(paso == 1) == false" class="form-group">

        <form (ngSubmit)="validarFormulario(FormServicioPaso1)" #FormServicioPaso1="ngForm">

        <label for="" class="form-label">Nombre del Servicio</label>
        <div class="input-group mb-3">
          <input minlength="2" required type="text"
          [ngClass]="{'border-danger': FormServicioPaso1.submitted && !nombre.valid }"
          [name]="'nombre'" [id]="'nombre'" #nombre="ngModel" [(ngModel)]="servicio.nombre" class="form-control">
        </div>

        <label for="" class="form-label">Descripción</label>
        <div class="input-group mb-3">
          <textarea  required class="form-control" placeholder=""
          [ngClass]="{'border-danger': FormServicioPaso1.submitted && !descripcion.valid }"
          [name]="'descripcion'" [id]="'descripcion'"  #descripcion="ngModel" [(ngModel)]="servicio.descripcion" style="height: 100px">
          </textarea>
        </div>




        <label for="" class="form-label">Valor</label>
        <div class="input-group mb-3">
          <input required type="number" min="0"
          [ngClass]="{'border-danger': FormServicioPaso1.submitted && !precio.valid }"
          [name]="'precio'" [id]="'precio'"  #precio="ngModel"  [(ngModel)]="servicio.precio" class="form-control">
        </div>


        <label for="" class="form-label">Comision</label>
        <div class="input-group mb-3">
          <input required type="number" min="0"
          [ngClass]="{'border-danger': FormServicioPaso1.submitted && !comision.valid }"
          [name]="'comision'" [id]="'comision'" #comision="ngModel" [(ngModel)]="servicio.comision" class="form-control">
        </div>


        <label for="" class="form-label">Profesional a cargo selccionado
          <span class="text-primary">
            {{profesionalSeleccionadoNombre}}
          </span>
        </label>

        <div  [ngClass]="{'border border-danger border-rounded': FormServicioPaso1.submitted && servicio.profesional_id == 0 }">
            <app-k-select  [lista]="profesionales" (seleccionado)="seleccionProfesional($event)" ></app-k-select>
        </div>

        <label for="" class="form-label mt-3">Estado del Servicio</label>


        <div class="form-check form-switch">
          <input  class="form-check-input" type="checkbox" name="estado" role="switch" [(ngModel)]="servicio.estado" [checked]="servicio.estado">
          <span  [ngClass]="{'text-success': servicio.estado}" >{{ servicio.estado ? 'Activo' : 'Inactivo' }}</span>
        </div>


        <div class="d-flex justify-content-between mt-5">
            <button type="submit" [hidden]="(paso == 3) == true "  class="btn btn-primary ms-auto"  >Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </button>
        </div>




    </form>

      </div>




      <!-- Paso 2 -->
   <div  [hidden]="(paso == 2) == false" class="form-group">


    <form (ngSubmit)="validarFormulario(FormServicioPaso2)" #FormServicioPaso2="ngForm">


          <div class="row w-100 mb-3">
            <div class="d-flex justify-content-between">
              <app-boxs-horarios></app-boxs-horarios>
              <button type="button" class="btn btn-success btn-sm ms-auto w-25" (click)="agregarEliminarHorario()"> Agregar</button>
            </div>

          </div>

          <div class="col-3 mx-auto d-flex flex-column my-4"  >
            <h1 class="fs-6 mx-auto" >Tiempo Estimado</h1>
            <ngb-timepicker class="mx-auto " [ngClass]="{'border border-danger ': FormServicioPaso2.submitted && duracionServicio.hour == 0 && duracionServicio.minute == 0 }"
            (change)="calcularHorasTermino()"  name="tiempo" [(ngModel)]="duracionServicio" ></ngb-timepicker>
          </div>


          <div   class="row my-2 mt-1 ">

            <div class="col-2 text-center ">
              Dia
            </div>
            <div class="col-2  pt-1 text-center" >
              Hora Inicio
            </div>
            <div class="col-1 text-center py-1">
              Atenciones
            </div>
            <div class="col-2  pt-1 text-center" >
              Hora Termino
            </div>
            <div class=" col-2 text-center ">
              Box
            </div>
            <div class="col-2">
            </div>

          </div>

          <div class="row my-1 mx-auto " *ngFor="let item of servicio.horarios;index as indice"
          [ngClass]="{'border-4 border-start border-danger': FormServicioPaso2.submitted &&  item.hora_inicio.hour == 0 && item.hora_inicio.minute == 0 || item.atenciones  <= 0  || item.box_id == 0  }">

                <div class="col-2  ">
                  <select required  class="form-select"
                  [name]="'dia'+indice" [id]="'dia'+indice" #dia="ngModel" (change)="consultarBoxsDisponibles(indice)" [(ngModel)]="item.dia_id">
                    <option [value]="1">Lunes</option>
                    <option [value]="2">Martes</option>
                    <option [value]="3">Miercoles</option>
                    <option [value]="4">Jueves</option>
                    <option [value]="5">Viernes</option>
                    <option [value]="6">Sabado</option>
                    <option [value]="7">Domingo</option>
                  </select>
                </div>

                <ngb-timepicker class="col-2"  [(ngModel)]="item.hora_inicio" [name]="'hora_inicio'+indice" (change)="calcularHoraTermino(indice)" ></ngb-timepicker>

                <input  class="col-1 text-center border-0 border-white " (change)="calcularHoraTermino(indice)"  [(ngModel)]="item.atenciones" type="number" [name]="'atenciones'+indice"  >


                <app-horario class="col-2" [disabled]="true"  [time]="item.hora_fin" ></app-horario>


                <div class=" col-2  ">
                  <select class="form-select" name="box_id"   [(ngModel)]="item.box_id">

                    <ng-container  *ngFor="let box of item.boxs_disponibles">
                        <option  [value]="box.id">{{box.nombre}}</option>
                    </ng-container>

                </select>
                </div>


              <div class="col-2 ">
                <button type="button" (click)="agregarEliminarHorario(indice)" class="btn btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                  </svg>
                </button>
              </div>



          </div>



          <div class="d-flex justify-content-between mt-5">

            <button type="button" *ngIf="paso != 1" (click)="anteriorPaso()" class="btn btn-primary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Anterior
              </button>

              <button type="submit" [hidden]="(paso == 3) == true "  class="btn btn-primary ms-auto"  >Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </button>

          </div>

        </form>


        </div>




      <!-- Paso 3 -->
      <div  [hidden]="(paso == 3) == false" class="form-group">

        <div class="d-flex justify-content-between flex-wrap nowrap">
            <div *ngFor="let item of feriados;index as i" class="form-check w-50">
              <input class="form-check-input" type="checkbox" name="estado{{i}}" [(ngModel)]="item.estado" [value]="item.estado" [checked]="item.estado" id="flexCheckCheckedDisabled" >
              <label class="form-check-label" for="flexCheckCheckedDisabled">
                {{item.nombre}}
              </label>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-5">
          <button type="button" *ngIf="paso != 1" (click)="anteriorPaso()" class="btn btn-primary ">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg>
              Anterior
            </button>
        </div>

      </div>




      <div class="d-flex justify-content-between mt-5">




     </div>

  </div>


  <ng-container  *ngIf="alert.estado == true">
    <div class="alert alert-danger text-center" role="alert">
      {{alert.mensaje}}
    </div>
  </ng-container>

  <ng-container *ngIf="paso == 3" >
    <div class="modal-footer" >
      <button  type="button" class="btn btn-outline-dark mx-auto" (click)="guardar()"  >Guardar</button>
    </div>
  </ng-container>

</ng-template>
