

  <button *ngIf="box.id == 0" type="button"  class="btn btn-outline-dark" (click)="open(modalBox,'md')" >Nuevo box</button>



<div *ngIf="box.id != 0" class="btn-group btn-group-md" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"  (click)="open(modalBox,'md')" >Editar</button>
  <button type="button" class="btn btn-outline-primary" (click)="horarioBox()" >Servicios</button>
</div>


<ng-template #modalBox let-modal>
  <form  >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Box  </h4>
    <button type="button" class="close btn " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">


        <div class="form-group row">

          <div class="col-sm-12">
            <label class="col-sm-12 col-form-label">Nombre</label>
              <input required type="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"
            [(ngModel)]="box.nombre"  [name]="'nombre'" [id]="'nombre'" #correo_="ngModel" >
          </div>


          <div class="col-sm-12">
            <label class="col-sm-2 col-form-label">Descripción</label>
            <textarea class="form-control" aria-label="With textarea"
            [id]="'descripcion'" [name]="'descripcion'" [(ngModel)]="box.descripcion" ></textarea>
          </div>

          <div class="col-sm-12">
            <label class="col-sm-12 col-form-label">Tipo de Box</label>
            <select class="form-select" [id]="'tipo'" [name]="'tipo'" [(ngModel)]="box.tipo">
              <option value="fisico">Fisico</option>
              <option value="virtual">Virtual</option>
            </select>
          </div>

          <ng-container *ngIf="box.tipo == 'virtual'" >

            <div class="col-sm-12">
              <label class="col-sm-12 col-form-label">Plataforma</label>
              <select class="form-select" [id]="'tipo'" [name]="'tipo'" [(ngModel)]="box.plataforma">
                <option value="googlemeet">Google Meet</option>
                <option value="zoom">Zoom</option>
                <option value="opcion3">Opcion 3</option>
                <option value="opcion4">Opcion 4</option>
              </select>
            </div>

            <div class="col-sm-12">
              <label class="col-sm-12 col-form-label">URL conferencia</label>
              <input required type="text"  class="form-control"
            [(ngModel)]="box.url_conferencia"  [name]="'url_conferencia'" [id]="'url_conferencia'" #url_conferencia="ngModel" >
            </div>

            <div class="col-sm-12">
              <label class="col-sm-12 col-form-label">Usuario</label>
              <input required type="text"  class="form-control"
            [(ngModel)]="box.user"  [name]="'user'" [id]="'user'" #user="ngModel" >
            </div>

            <div class="col-sm-12">
              <label class="col-sm-12 col-form-label">Contraseña</label>
              <input required type="text"  class="form-control"
              [(ngModel)]="box.password"  [name]="'password'" [id]="'password'" #password="ngModel" >
            </div>



          </ng-container>

        </div>






      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardar()" >Guardar</button>
  </div>
</form>
</ng-template>




<ng-template  #modalHorarioBox let-modal>
  <form  >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Horario box <span class="text-primary">{{box.nombre}}</span> </h4>
    <button type="button" class="close btn " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="container-fluid  w-100 d-flex align-items-stretch justify-content-center mb-2">
      <div style="width:150px;" class=" text-center ">Lunes</div>
      <div style="width:150px;" class=" text-center ">Martes</div>
      <div style="width:150px;" class=" text-center">Miercoles</div>
      <div style="width:150px;" class=" text-center">Jueves</div>
      <div style="width:150px;" class=" text-center">Viernes</div>
      <div style="width:150px;" class=" text-center">Sabado</div>
      <div style="width:150px;" class=" text-center">Domingo</div>
    </div>

    <div class="container-fluid  w-100 d-flex align-items-stretch justify-content-center">

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 1"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 2  "   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario;index as i">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 3"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 4"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 5"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 6"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>

      <div style="width:150px;min-height: 150px;" class="border  bg-dark bg-opacity-10 d-flex  flex-column">
        <ng-container *ngFor="let item of horario">
          <div class="border border-primary w-100 text-center" *ngIf="item.dia_id == 7"   >
            {{item.hora_inicio}} -
            {{item.hora_fin}}
            {{item.nombre}}
          </div>
        </ng-container>
      </div>


    </div>



  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardar()" >Guardar</button>
  </div>
</form>
</ng-template>





<ng-template #relleno >
  <div class="border w-100 text-center"    >
    Relleno
  </div>
</ng-template>
