
<app-form-klang></app-form-klang>

<div style="min-width: 700px;" class="container p-0 mt-5 border ">
  <div class=" p-2 d-flex  justify-content-between align-items-center  " >
        <button class="btn btn-outline-dark " (click)="agregar()">{{'nuevo paciente' | kIdioma}}</button>

        <div class="p-0 ">
          <div class="spinner-border border-1 spinner-border-sm text-primary me-2" [hidden]="!recarga" role="status">
          </div >
            <input class="m-0" type="text" name="busqueda" id="busqueda" (keyup)="cargarTabla()" [(ngModel)]="busqueda">
            <i class="mx-2 fa fa-search" aria-hidden="false"> </i>
        </div>
    </div>

    <table class=" table  table-striped  ">
      <caption class="text-center" >{{'lista de pacientes' | kIdioma}}</caption>
        <thead>

            <tr>
                <th scope="col">{{'indice' | kIdioma}}</th>
                <!--<th scope="col">Rut</th> -->
                <th scope="col">{{'correo' | kIdioma}}</th>
                <th scope="col">{{'nombre' | kIdioma}}</th>
                <th scope="col">{{'apellido paterno' | kIdioma}}</th>
                <th scope="col">{{'apellido materno' | kIdioma}}</th>
                <th scope="col">{{'opciones' | kIdioma}}</th>
                <th scope="col"></th>
                <th scope="col"></th>




            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pacientes.pacientes ;index as i">
                <th scope="row">{{item.id}}</th>
          <!--    <td>{{item.rut}}</td> -->
                <td>{{item.correo}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido_paterno}}</td>
                <td>{{item.apellido_materno}}</td>
                <td>
                    <div class="btn-group btn-group-md" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary" (click)="editar(i)">{{'editar' | kIdioma}}</button>
                        <button type="button" class="btn btn-outline-primary" (click)="cargarFicha(item.kid)">{{'ficha' | kIdioma}}</button>
                        <button type="button" class="btn btn-outline-primary"  (click)="abrirAtenciones(item.kid)">{{'atenciones' | kIdioma}}</button>
                    </div>
                </td>


            </tr>
        </tbody>
    </table>


      <ngb-pagination
      [(page)]="PacientesService.pagina"
      [pageSize]="PacientesService.numfilas"
      [collectionSize]="pacientes.total_registros"
      (pageChange)="cargarTabla()">
          <ng-template ngbPaginationFirst><i class="fa fa-arrow-left " aria-hidden="true "></i></ng-template>
          <ng-template ngbPaginationLast><i class="fa fa-step-forward " aria-hidden="true "></i></ng-template>
          <ng-template ngbPaginationPrevious><i class="fa fa-arrow-left " aria-hidden="true "></i></ng-template>
          <ng-template ngbPaginationNext><i class="fa fa-arrow-right " aria-hidden="true "></i></ng-template>
      </ngb-pagination>

</div>



<!-- Modal editar paciente-->
<ng-template #modalGuardarPaciente let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitulo | kIdioma }}</h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>

    <app-paciente (respuesta)="exeRespuesta($event)"  [id]="id"  [correo]="correo" [nombre]="nombre" [apellido_paterno]="apellido_paterno" [apellido_materno]="apellido_materno">
    </app-paciente>
</ng-template>



<!-- Modal  Ficha  -->
<ng-template #modalFicha let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'ficha' | kIdioma }}</h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">

        <app-form
        [plantilla_formulario_id]="plantilla_formulario_id"
        [almacen_dato_id]="almacen_dato_id">
        </app-form>

<!--  guardar/editar fichas-->
        <app-paciente-ficha  [_enfermedades]="_enfermedades_padre" [_medicamentos]="_medicamentos_padre" [kid]="kid"  [ficha]="ficha" (respuesta)="exeRespuesta($event)"  ></app-paciente-ficha>

    </div>
</ng-template>


<!-- Modal selección furmulario -->
<ng-template #modalSeleccionFormulario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'seleccion de formulario' | kIdioma}}</h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" role="alert">
        {{'sin ficha' | kIdioma}}
      </div>


      <div class="mb-3">
        <label  class="form-label">{{'tipo de formulario' | kIdioma}}</label>
          <select class="form-select" name="tipo_formulario_id" [(ngModel)]="tipo_formulario_id">
            <option *ngFor="let tipo_formulario of tiposDeFormulario;index as i" value="{{tipo_formulario.id}}" >{{tipo_formulario.tipo}}</option>
          </select>
      </div>


      <div class="mb-3">
        <label  class="form-label">{{'formularios disponibles' | kIdioma}}</label>
          <select class="form-select" name="plantilla_formulario_id" [(ngModel)]="plantilla_formulario_id" >
            <ng-container *ngFor="let plantilla of plantillas;index as i">
              <option   *ngIf="tipo_formulario_id == plantilla.tipo_formulario_id" value="{{plantilla.id}}" >{{plantilla.nombre}}</option>
            </ng-container>
          </select>
      </div>


      <div class="modal-footer">
        <button class="btn btn-outline-dark" (click)="nuevaFicha()" >{{'abrir formulario' | kIdioma}}</button>
      </div>
    </div>

</ng-template>
