
  <button class="btn btn-md btn-primary" (click)="abrirModal()" >Editar</button>

  <ng-template #modalEditarMedicamento let-modal>
    <form (ngSubmit)="validarCampos(formEditarMedicamento)" #formEditarMedicamento="ngForm">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar Medicamento</h4>
      <button type="button" class="close btn " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-group">

            <input required type="text" placeholder="Nombre" class="mb-4 form-control"
            [ngClass]="{'border-danger': formEditarMedicamento.submitted && !nombre_.valid || nombre_.touched && !nombre_.valid }"
            [name]="'nombre_'" [id]="'nombre_'" #nombre_="ngModel" [(ngModel)]="medicamento.nombre"
            >

            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea required class="form-control"  rows="3"
            [ngClass]="{'border-danger': formEditarMedicamento.submitted && !descripcion_.valid || descripcion_.touched && !descripcion_.valid }"
            [name]="'descripcion_'" [id]="'descripcion_'" #descripcion_="ngModel" [(ngModel)]="medicamento.descripcion" ></textarea>


        </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" >Guardar</button>
    </div>
  </form>
  </ng-template>
