
<div style="width: 1000px;min-width:100px" class="container  p-0 mt-5 " >

    <div style="min-width: 1000px;" class="d-flex justify-content-center m-0 p-3 bg-secondary bg-opacity-10">
          <button  class="me-5 btn btn-sm btn-outline-dark" (click)="sumarRestarFecha(0)" >Anterior</button>
          <h1 class="fs-5 text-uppercase" >{{fecha | fecha}}</h1>
          <button  class="ms-5 btn btn-sm btn-outline-dark" (click)="sumarRestarFecha(1)">Siguiente</button>
    </div>



    <div style="min-width: 1000px;width: 1000px;" class="d-flex flex-wrap w-100 justify-content-center bg-secondary bg-opacity-10">

        <ng-container *ngFor="let fecha of DiasActivo">
          <div  style="width: 142px; " class="fs-6 text-center border border-white  bg-white  ">

            <div class="w-100 bg-primary bg-opacity-50 mb-0 " >
                {{fecha | fecha}}
              </div>

              <ng-container  *ngFor="let turno of turnos;index as i" >
                  <ng-container *ngIf="fecha == turno.fecha">

                        <div  (click)="abrirModalReserva(turno)"  [ngClass]="{'bg-danger': turno.reserva == true && turno.reserva_.atencion_id == 0 ,'bg-success' :turno.reserva == false,'bg-secondary' :turno.reserva_  != null && turno.reserva_.atencion_id != 0 }"  class="w-100 bg-opacity-50 btn mt-1">

                          <h1 class="text-center fs-6">
                            {{turno.hora}} -
                            {{turno.horaFin}}
                          </h1>
                          <h1 class="text-center fs-6">
                            {{turno.servicio_nombre}}
                          </h1>
                          <h1 class="text-center fs-6" >
                            {{this.turno.box.nombre}}
                          </h1>

                          <ng-container  *ngIf="turno.usuario != null;else libre">
                            <h1 [ngClass]="{'bg-warning':turno.usuario.nombre == 'Inhabilitado'}" class="text-center fs-6">
                              {{turno.usuario.nombre}}
                            </h1>
                          </ng-container>


                        </div>

                  </ng-container>
              </ng-container>


              </div>
          </ng-container>

    </div>


<ng-template #libre >
</ng-template>


<ng-template #cancelarReservaBoton >

    <h1 class="text-center fs-6" >
      {{this.turno.hora}} -
      {{this.turno.horaFin}}
    </h1>

    <h1 (click)="cargarFicha(turno.usuario.kid)" class="text-center fs-6 btn " >
      {{this.turno.usuario.nombre}}
      {{this.turno.usuario.apellido_paterno}}
      {{this.turno.usuario.apellido_materno}}
    </h1>
    <h1 class="text-center fs-6" >
      {{this.turno.usuario.correo}}
    </h1>


    <ng-container *ngIf="turno.reserva_ != null && turno.reserva_.atencion_id == 0;else atencionDeLaReserva"  >

      <button *ngIf="turno.usuario.nombre != 'Inhabilitado'"  (click)="comenzarAtencion()" class="btn btn-outline-success mb-2">
        Comenzar Atención
      </button>
      <button  (click)="eliminarReserva()" [ngClass]="{'btn btn-outline-danger':turno.usuario.nombre != 'Inhabilitado','btn btn-outline-warning': turno.usuario.nombre == 'Inhabilitado'}" >
        {{turno.usuario.nombre != 'Inhabilitado' ? 'Cancelar reserva' : 'Habilitar disponibilidad'}}
      </button>

    </ng-container>




 </ng-template>



<ng-template #modalReserva let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Reserva</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>


    <div class="card" style="max-width: 540px;">


      <div class="d-flex justify-content-center bg-info mt-2">
        <app-k-select *ngIf="turno.reserva == false" class=""
          (seleccionado)="pacienteSeleccionado($event)"
          [lista]="pacientes"
          [mensajeInput]=" 'Buscar paciente' ">
          </app-k-select>
      </div>



          <div  class="card-body d-flex flex-column">
            <h1 class="text-center fs-5">{{turno.servicio_nombre}}</h1>

            <button *ngIf="turno.reserva == false" (click)="inhabilitarReserva()" class="btn btn-outline-warning mb-2">
              Inhabilitar
            </button>

            <button *ngIf="turno.reserva == false;else cancelarReservaBoton " (click)="crearReserva()" class="btn btn-outline-success">
                Reservar
            </button>

          </div>
        </div>

  </ng-template>


  <ng-template #modalFicha let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'ficha' | kIdioma }}</h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">

        <app-form
        [plantilla_formulario_id]="plantilla_formulario_id"
        [almacen_dato_id]="almacen_dato_id">
        </app-form>



    </div>
</ng-template>

<!-- Abre una atencion vacia para la reserva seleccionada -->
<app-atencion #atencion [hidden]="true"  [atencion]="atencionVacia" ></app-atencion>

<!-- Carga la atencion correspondiente de la reserva -->
<ng-template #atencionDeLaReserva>
  <app-atencion class="mx-auto" #atencion [hidden]="false"  [atencion]="turno.atencion"></app-atencion>
 </ng-template>
