
<div style="width: 1000px;min-width:100px" class="container  p-0 mt-5 " >

    <div style="min-width: 1000px;" class="d-flex justify-content-center m-0 p-3 bg-secondary bg-opacity-10">
          <button  class="me-5 btn btn-sm btn-outline-dark" (click)="sumarRestarFecha(0)" >Anterior</button>
          <h1 class="fs-5 text-uppercase" >{{fecha | fecha}}</h1>
          <button  class="ms-5 btn btn-sm btn-outline-dark" (click)="sumarRestarFecha(1)">Siguiente</button>
    </div>



    <div style="min-width: 1000px;width: 1000px;" class="d-flex flex-wrap w-100 justify-content-center bg-secondary bg-opacity-10">

        <ng-container *ngFor="let fecha of DiasActivo">
          <div  style="width: 142px; " class="fs-6 text-center border  bg-white  ">
              {{fecha | fecha}} <br>

              <ng-container  *ngFor="let turno of turnos;index as i" >
                  <ng-container *ngIf="fecha == turno.fecha">

                      {{turno.hora}}
                      {{turno.horaFin}}
                      {{turno.servicio_id}}
                      <ng-container *ngIf="turno.usuario != null;else libre">
                        {{turno.usuario.nombre}}
                      </ng-container>



                  </ng-container>
              </ng-container>


              </div>
          </ng-container>

    </div>


<ng-template #libre >
  libre
</ng-template>
