<div style="width: 1000px;min-width:100px" class="container  p-0 mt-5 ">

    <div style="min-width: 1000px;" class="d-flex justify-content-center m-0 p-3 bg-secondary bg-opacity-10">
        <button class="me-5 btn btn-sm btn-outline-dark" (click)="sumarRestarFecha(0)">Anterior</button>
        <h1 class="fs-5 text-uppercase">{{fecha | fecha}}</h1>
        <button class="ms-5 btn btn-sm btn-outline-dark" (click)="sumarRestarFecha(1)">Siguiente</button>
    </div>



    <div *ngIf="horario.id != 0" style="min-width: 1000px;width: 1000px;" class="d-flex flex-wrap w-100 justify-content-center bg-secondary bg-opacity-10">

        <ng-container *ngFor="let dia of horario.DiasActivo; let i =  index">



            <div style="width: 142px; height: 150px;" class="fs-6 text-center border  bg-white  ">
                {{dia | fecha}} <br>
                <ul>
                    <ng-container *ngFor="let item of horario.HoraServicio[i].item">
                        <li>{{ item.dia}} {{ item.hora }} {{ item.horaFin }} {{ item.usuario.nombre }} {{item.reserva }} </li>
                    </ng-container>
                </ul>





                <p class="fs-6 m-0">Reservados : {{ horario.HoraServicio[i].reservados}}</p>

                <p class="fs-6 m-0">Disponibles : {{horario.HoraServicio[i].disponible}}</p>

                <!-- <app-reserva (reservaEmit)="exeRespuesta($event)" [reserva]="item.item" [fecha]="dia" [pacientes]="pacientes" [servicio_id]="elhorario.id"></app-reserva> -->



            </div>
        </ng-container>